* {
    margin: 0px;
    font-family: "Gaegu", cursive;
    box-sizing: border-box;
}

a:hover {
    color: rgb(215, 116, 97);
}

a {
    color: black;
    text-decoration: none;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: rgb(215, 116, 97);
}

body {}

#orangeImage {
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: grayscale(0.6);
}

/* //////// header //////// */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 10vh;
    background-color: rgba(98, 111, 131, 1);
    width: 100%;
    box-shadow: 2px 6px 6px 1px rgba(98, 111, 131, 0.5);
    z-index: 10;
}

.contactNav {
    font-size: 1.5vw;
    color: white;
}

.aboutNav {
    font-size: 1.5vw;
    color: white;
}

.portfolioNav {
    font-size: 1.5vw;
    color: white;
}

/* /////// about component ////// */

#aboutHolder {
    position: relative;
    top: 20vh;
    height: 100%;
    background-color: rgb(249, 186, 44);
    display: flex;
    justify-content: center;
}

#aboutHolder P {
    font-size: 1.5vw;
    width: 70%;
}

#techHolder {
    position: relative;
    top: 33vh;
    height: 20vh;
    /* background-color: rgba(255, 255, 255, 0.85); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.eachTechHolder {
    height: 12vh;
    width: 12vh;
    overflow: hidden;
    border-radius: 8px;
    /* border: 2px solid rgba(98, 111, 131, 1); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(197, 120, 42, 0.8); */
}

.eachTechHolder img {
    height: 80%;
    width: 80%;
    filter: drop-shadow(-5px 10px 4px rgba(98, 111, 131, 0.7));
}